---
layout: default
---

<div class="header-bar" style="padding-top: 0;">
  <!-- <h2>Usable Intrusion Detection & Response on Personal Mobile Devices</!-->
  <p class="project-description">The goal of this project is to develop and evaluate passive modes of security, that can accommodate the social relationships between owners and socially-close adversaries. Unlike unlock authentication, which is an active defense against physical access, passive defenses aim to primarily provide awareness, traceability, and recovery from intrusions; and to only secondarily engage counter-measures like blocking access.</p>
  <hr>
</div>
<div class="header-bar-small" style="margin-bottom: 25px">
<h1>News</h1>
</div>
{% for new in site.news reversed limit:5 %}
<div class="news-flex-container">
    <div class="news-flex-img">
      <div class="news-flex-thumbnail">
        <img src="{{ site.url }}{{ site.baseurl }}/img/icons/paper_icon_small.png""/>
      </div>
    </div>
    <div class="news-flex-body">
      <div>
          <strong>{{ new.date | date: '%B, %Y' }}</strong>
      </div>
      <div >
          {{ new.description }}
      </div>
  </div>
</div>
{% endfor %}
<div style="padding-top: 20px">
  <a href="{{ site.url }}{{ site.baseurl }}/news/"><h3 style="text-align: end;">All news...</h3></a>
</div>
<hr>
<div class="header-bar-small">
<h1>Selected publications</h1>
</div>
<ul class="post-list">
    {% for pub in site.publications reversed %}
        <li>
            <div class="publication-grid-container">
              <div class="publication-grid-img">
                <div class="publication-thumbnail">
                  <img src="{{ pub.img }}"/>
                </div>
              </div>
              <div class="publication-grid-body">
                  <h2><a class="poem-title" href="{{ pub.link }}" target="_blank">{{ pub.title }}</a></h2>
                  {% if pub.description %}
                  <p class="post-description" style="text-align: justify; padding: 10px;">{{ pub.description }}</p>
                  <p class="post-meta-important" style="text-align: left; ">{{ pub.authors }}</p>
                  <p class="post-meta" style="text-align: left; ">{{ pub.venue }}</p>
                  {% else %}
                  <p class="post-meta-important" style="text-align: left; padding-top: 5px;">{{ pub.authors }}</p>
                  <p class="post-meta" style="text-align: left; ">{{ pub.venue }}</p>
                  <p class="post-meta" style="text-align: left; ">[ <a class="poem-title" href="{{ pub.link }}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> pdf </a> ] </p>
              </div>
            </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<div style="padding-top: 20px">
  <a href="{{ site.url }}{{ site.baseurl }}/press/"><h3 style="text-align: end;">All publications...</h3></a>
</div>
<hr>
<div class="header-bar-small">
  <h1>Press</h1>
</div>
  <ul class="post-list">
      {% for post in site.press reversed %}
      <div class="press-grid-container">
          <div class="press-grid-img">
            <div class="press-thumbnail">
              {% if post.img %}
              <img src="{{ post.img }}"/>
              {% else %}
              <img src="{{ site.url }}{{ site.baseurl }}/img/icons/{{post.where}}_icon.png""/>
              {% endif %}
            </div>
          </div>
          <div class="press-grid-body">
              <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <p class="post-description">{{ post.description }}</p>
              <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
          </div>
        </div>
      <!-- <li>
          <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p class="post-description">{{ post.description }}</p>
          <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
          <br>
      </li> -->
      {% endfor %}
  </ul>
  <div style="padding-top: 20px">
    <a href="{{ site.url }}{{ site.baseurl }}/press/"><h3 style="text-align: end; padding-bottom: 25px">All press...</h3></a>
  </div>
  <hr>
  <div class="header-bar-small" style="margin-bottom: 25px">
    <h1>Software</h1>
    </div>
    {% for new in site.software reversed limit:5 %}
    <div class="news-flex-container">
        <div class="news-flex-img">
          <div class="news-flex-thumbnail">
            <img src="{{ site.url }}{{ site.baseurl }}/img/icons/code_icon_small.png""/>
          </div>
        </div>
        <div class="news-flex-body">
          <div>
              <a href="{{ new.linkurl }}" target="_blank"><strong>{{ new.title }}</strong></a>
          </div>
          <div >
              {{ new.description }}
          </div>
      </div>
    </div>
    {% endfor %}
    <div style="padding-top: 20px">
      <a href="{{ site.url }}{{ site.baseurl }}/software/"><h3 style="text-align: end; padding-bottom: 25px;">All software...</h3></a>
    </div>