<header class="site-header">

  <div class="wrapper">
    <div class="site-nav">
      <div class="trigger header-title" style="margin-right: 50px;">
          <a class="page-link" href="{{ site.baseurl }}/">Usable Intrusion Detection & Response on Personal Mobile Devices</a>
      </div>
      <div class="trigger">
        <a class="page-link midr" href="{{ site.baseurl }}/" >mIDR</a>
        <a class="page-link news" href="{{ site.baseurl }}/news" >news</a>
        <a class="page-link press" href="{{ site.baseurl }}/press" >press</a>
        <a class="page-link publications" href="{{ site.baseurl }}/publications" >publications</a>
        <a class="page-link team" href="{{ site.baseurl }}/team" >team</a>
      </div>
    </div>
  </div>
</header>
